body {
  background-color: gray;
}

h1 {
  text-align: center;
}

img {
  width: 60px;
}

/* gameBoard border start*/
#A0, #A1, #A2, #A3, #A4, #A5, #A6, #A7 {
  border-left: 5px solid midnightblue;
}

#H0, #H1, #H2, #H3, #H4, #H5, #H6, #H7 {
  border-right: 5px solid midnightblue;
}

#A7, #B7, #C7, #D7, #E7, #F7, #G7, #H7 {
  border-top: 5px solid midnightblue;
}

#A0, #B0, #C0, #D0, #E0, #F0, #G0, #H0 {
  border-bottom: 5px solid midnightblue;
}
/* gameBoard border end */

#rules {
  text-align: left;
  width: 500px;
  margin-left: 375px;
  background-color: darkblue;
  color: magenta;
  font-weight: bold;
}

.middle {
  text-align: center;
}

.well {
  background-color: beige;
}

.col-md-1 {
  height: 100px;
  color: white;
}

.w {
  background-color: white;
}

.b {
  background-color: black;
}

.highLight {
  border: 7px solid magenta;
}

.label {
  background-color: white;
  color: black;
  font-size: 35px;
  border: 3px solid midnightblue;
}

.lime {
  color: limegreen;
}
